/* global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  background: var(--background);
}
/* color pallete */
:root {
  --foreground: cyan;
  --primary: cyan;
  --background: cyan;
  --secondary: cyan;
  --text: black;
}
/* header */
header {
  background: var(--background);
  color: #fff;
  /* padding: 15px; */
  text-align: center;
}
header a {
  color: var(--text);
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
  /* color: var(--foreground); */
}
nav {
  width: 80%;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-right: 35px;
}
li {
  padding: 0 20px;
}
/* main */
.main {
  width: 80vw;
  min-height: 80vh;
  height: auto;
  margin: auto;
  background: var(--secondary);
  padding: 20px;
}
/* song */
.song-info p {
  margin: 8px 0;
}
/* search */
.search {
  width: 90%;
  margin: auto;
  background: var(--background);
  padding: 20px;
}
form {
  padding: 30px 20px;
}
.form-control {
  width: 100%;
  padding: 15px;
  resize: vertical;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  flex-direction: row;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="text"],
input[type="number"] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.btn {
  background-color: var(--foreground);
  color: var(--text);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.row {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  flex-direction: row;
  padding: 15px;
}
/* table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}
th {
  background-color: var(--primary);
  color: var(--text);
  padding: 10px;
  text-align: left;
}
tr {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
td {
  padding: 15px;
  border-right: 1px solid #ddd;
}
.button {
  background-color: var(--foreground);
  color: var(--text);
  padding: 12px 20px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 4px;
  cursor: pointer;
  /* float: right; */
}
/* footer */
footer {
  background: gray;
  width: 100%;
}
ft {
  width: 80%;
  margin: auto;
}
/* home */
.container-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  width: 20%;
  background: var(--foreground);
  color: var(--text);
  padding: 20px 0px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  font-size: 0.9rem;
}
.card h3 {
  color: black;
}
